body{
    margin:0;
    font-family: Arial;
    background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
    background-size: cover;
}

header{
    background: #e5e5e5;
    padding: 10px;
}

.main{
    display: flex;
    padding: 40px;
    gap: 40px;
}

.form-box{
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

input, textarea{
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
}

textarea{
    height: 150px;
}

button{
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
}

.task-box{
    flex: 1;
    color: white;
}

.task-header{
    display: grid;
    grid-template-columns: 1fr 2fr 80px;
    margin-bottom: 10px;
}

.task{
    background: white;
    color: black;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 2fr 80px;
}

.delete-btn{
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}
/* MOBILE RESPONSIVE FIX */
@media (max-width: 768px) {

    .main{
        flex-direction: column;
        padding: 15px;
        gap: 20px;
    }

    .form-box{
        width: 100%;
    }

    .task-header,
    .task{
        grid-template-columns: 1fr;
        gap: 5px;
    }

}
